Repository ronkovic/claude-code-aad: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-validate, markdown-link-check

docker-compose-validate:
  name: Validate docker-compose.yml
  entry: bash -c 'cd .aad/container && HOST_PROJECT_PATH=/tmp/dummy docker compose config > /dev/null'
  language: system
  pass_filenames: false

markdown-link-check:
  name: Check Markdown Links
  entry: npx markdown-link-check
  language: system
  args:
  - --config
  - .github/markdown-link-check-config.json
  - -q

docs: タスクファイルパス参照を正しい構造に修正
  .aad/COMMANDS.md
  .aad/container/README.md
  .aad/container/scripts/start-worker.sh
Due: markdown-link-check

feat: /aad:init に AskUserQuestion を使用した選択式ウィザードを追加
  .aad/COMMANDS.md
  .aad/CUSTOMIZE-CHECKLIST.md
  .aad/LINTER-SETUP.md
  .aad/NAMING-CONVENTIONS.md
  .aad/SETUP.md
  .aad/WORKFLOW.md
  .aad/container/.env.example
  .aad/container/Dockerfile
  .aad/container/README.md
  .aad/container/docker-compose.yml
  .aad/container/scripts/list-workers.sh
  .aad/container/scripts/start-worker.sh
  .aad/container/scripts/stop-worker.sh
  .aad/container/scripts/worker-common.sh
  .aad/container/setup.sh
  .aad/progress/.gitkeep
  .aad/templates/CHILD-PROMPT.md
  .aad/templates/WORKER-PROMPT.md
  .claude/commands/aad/init.md
  .claude/commands/aad/integrate.md
  .claude/commands/aad/orchestrate.md
  .claude/commands/aad/worktree.md
  .claude/scripts/install-to-existing.sh
  .claude/scripts/install-to-new.sh
  .claude/scripts/validate-structure.sh
  .github/workflows/quality-gate.yml
  .pre-commit-config.yaml
  CLAUDE.md
  HANDOFF.md
  README.md
Due: docker-compose-validate, markdown-link-check

feat: /aad:worktree 出力改善 - 別ターミナルでの実行を明示
  .claude/commands/aad/worktree.md
Due: markdown-link-check

feat: /aad:worktree 出力に Claude 起動後のプロンプト例を追加
  .claude/commands/aad/worktree.md
Due: markdown-link-check

feat(aad): worktree完了時に大賢者風の次のステップを追加
  .claude/commands/aad/worktree.md
Due: markdown-link-check

feat: AAD全コマンドの出力を大賢者風スタイルに統一
  .claude/commands/aad/context.md
  .claude/commands/aad/gate.md
  .claude/commands/aad/init.md
  .claude/commands/aad/integrate.md
  .claude/commands/aad/orchestrate.md
  .claude/commands/aad/retro.md
  .claude/commands/aad/status.md
  .claude/commands/aad/tasks.md
  .claude/commands/aad/worktree.md
Due: markdown-link-check

fix: init.md/orchestrate.md の出力指示を最上部に追加（Claude Code認識改善）
  .claude/commands/aad/init.md
  .claude/commands/aad/orchestrate.md
Due: markdown-link-check

fix: tasks/integrate/retro.md の出力指示を最上部に追加（Claude Code認識改善）
  .claude/commands/aad/integrate.md
  .claude/commands/aad/retro.md
  .claude/commands/aad/tasks.md
Due: markdown-link-check

feat: 大賢者スタイルキーワードを新フォーマットに変更
  .claude/commands/aad/clone.md
  .claude/commands/aad/context.md
  .claude/commands/aad/gate.md
  .claude/commands/aad/half-clone.md
  .claude/commands/aad/handoff.md
  .claude/commands/aad/init.md
  .claude/commands/aad/integrate.md
  .claude/commands/aad/orchestrate.md
  .claude/commands/aad/retro.md
  .claude/commands/aad/status.md
  .claude/commands/aad/tasks.md
  .claude/commands/aad/worktree.md
  .claude/scripts/context-bar.sh
Due: markdown-link-check

fix: 出力例内の旧キーワードを新フォーマットに修正
  .claude/commands/aad/context.md
  .claude/commands/aad/gate.md
Due: markdown-link-check

feat: worktree作成時にCLAUDE.mdへ大賢者スタイル自動追加
  .claude/commands/aad/worktree.md
Due: markdown-link-check

feat: 出力スタイル変換システムを追加
  .claude/commands/aad/clone.md
  .claude/commands/aad/context.md
  .claude/commands/aad/gate.md
  .claude/commands/aad/half-clone.md
  .claude/commands/aad/handoff.md
  .claude/commands/aad/init.md
  .claude/commands/aad/integrate.md
  .claude/commands/aad/orchestrate.md
  .claude/commands/aad/retro.md
  .claude/commands/aad/status.md
  .claude/commands/aad/tasks.md
  .claude/commands/aad/worktree.md
  .claude/scripts/context-bar.sh
  .claude/scripts/switch-style.sh
  .claude/styles/.current-style
  .gitignore
Due: markdown-link-check

fix: HANDOFF.mdの壊れたリンクを削除
  HANDOFF.md
Due: markdown-link-check

feat: 出力スタイル変換システムを追加 (#1)
  .claude/commands/aad/clone.md
  .claude/commands/aad/context.md
  .claude/commands/aad/gate.md
  .claude/commands/aad/half-clone.md
  .claude/commands/aad/handoff.md
  .claude/commands/aad/init.md
  .claude/commands/aad/integrate.md
  .claude/commands/aad/orchestrate.md
  .claude/commands/aad/retro.md
  .claude/commands/aad/status.md
  .claude/commands/aad/tasks.md
  .claude/commands/aad/worktree.md
  .claude/scripts/context-bar.sh
  .claude/scripts/switch-style.sh
  .claude/styles/.current-style
  .gitignore
  HANDOFF.md
Due: markdown-link-check

feat: バックアップ自動クリーンアップ機能を追加
  .aad/COMMANDS.md
  .claude/commands/aad/init.md
  .claude/scripts/switch-style.sh
Due: markdown-link-check

feat: バックアップ自動クリーンアップ機能を追加 (#2)
  .aad/COMMANDS.md
  .claude/commands/aad/init.md
  .claude/scripts/switch-style.sh
Due: markdown-link-check

refactor: switch-style.sh をユニークIDマーカー方式にリファクタリング
  .claude/scripts/switch-style.sh
  CLAUDE.md
  README.md
Due: markdown-link-check

feat: install-to-existing.sh にコンテキストセクション更新機能を追加
  .claude/scripts/install-to-existing.sh
Due: none

feat: install-to-existing.sh にコンテキストセクション更新機能を追加 (#3)
  .claude/scripts/install-to-existing.sh
  .claude/scripts/switch-style.sh
  CLAUDE.md
  README.md
Due: markdown-link-check

feat: インストールスクリプトに実行権限付与メッセージを追加
  .claude/scripts/install-to-existing.sh
  .claude/scripts/install-to-new.sh
Due: none

feat: インストールスクリプトに実行権限付与メッセージを追加 (#4)
  .claude/scripts/install-to-existing.sh
  .claude/scripts/install-to-new.sh
Due: none

docs: 実装フェーズ詳細ドキュメントを追加
  HANDOFF.md
  config/styles.toml
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION-PHASES.md
Due: markdown-link-check

feat: 8つの実装フェーズに対応するKiro SPECファイルを作成
  .claude/commands/kiro/spec-design.md
  .claude/commands/kiro/spec-impl.md
  .claude/commands/kiro/spec-init.md
  .claude/commands/kiro/spec-requirements.md
  .claude/commands/kiro/spec-status.md
  .claude/commands/kiro/spec-tasks.md
  .claude/commands/kiro/steering-custom.md
  .claude/commands/kiro/steering.md
  .claude/commands/kiro/validate-design.md
  .claude/commands/kiro/validate-gap.md
  .claude/commands/kiro/validate-impl.md
  .kiro/specs/phase1-domain-foundation/requirements.md
  .kiro/specs/phase1-domain-foundation/spec.json
  .kiro/specs/phase2-config-workflow/requirements.md
  .kiro/specs/phase2-config-workflow/spec.json
  .kiro/specs/phase3-cli-basic-commands/requirements.md
  .kiro/specs/phase3-cli-basic-commands/spec.json
  .kiro/specs/phase4-orchestration/requirements.md
  .kiro/specs/phase4-orchestration/spec.json
  .kiro/specs/phase5-persistence/requirements.md
  .kiro/specs/phase5-persistence/spec.json
  .kiro/specs/phase6-tui-dashboard/requirements.md
  .kiro/specs/phase6-tui-dashboard/spec.json
  .kiro/specs/phase7-task-loop/requirements.md
  .kiro/specs/phase7-task-loop/spec.json
  .kiro/specs/phase8-quality-github/requirements.md
  .kiro/specs/phase8-quality-github/spec.json
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  CLAUDE.md
Due: markdown-link-check

docs(SPEC-004-T01): T01完了とPR#28作成を記録
  .aad/progress/SPEC-004/orchestrator.json
  HANDOFF.md
Due: markdown-link-check

fix: IMPLEMENTATION_SUMMARY.mdの相対リンクパスを修正
  .aad/progress/SPEC-001/IMPLEMENTATION_SUMMARY.md
Due: markdown-link-check

chore: target/とCargo.lockを.gitignoreに追加
  .gitignore
  Cargo.lock
Due: none

docs: SPEC-004-T01完了、T02開始を記録
  HANDOFF.md
Due: markdown-link-check

docs: SPEC-004-T02完了を記録
  .aad/progress/SPEC-004/orchestrator.json
  HANDOFF.md
Due: markdown-link-check

feat(SPEC-004-T02): DependencyGraph実装
  Cargo.lock
  crates/application/Cargo.toml
  crates/application/src/error.rs
  crates/application/src/lib.rs
  crates/application/src/orchestration/config.rs
  crates/application/src/orchestration/dependency_graph.rs
  crates/application/src/orchestration/mod.rs
  crates/application/src/orchestration/orchestrator.rs
Due: none

feat(SPEC-004-T02): DependencyGraph実装 (#29)
  Cargo.lock
  crates/application/Cargo.toml
  crates/application/src/error.rs
  crates/application/src/lib.rs
  crates/application/src/orchestration/config.rs
  crates/application/src/orchestration/dependency_graph.rs
  crates/application/src/orchestration/mod.rs
  crates/application/src/orchestration/orchestrator.rs
Due: none

feat(orchestration): セッション登録・起動ロジック実装 (SPEC-004-T03)
  crates/application/src/orchestration/orchestrator.rs
Due: none

feat(SPEC-004-T02): DependencyGraph実装
  crates/application/src/error.rs
  crates/application/src/orchestration/dependency_graph.rs
  crates/application/src/orchestration/mod.rs
Due: none

feat(SPEC-004-T02): DependencyGraph実装 (#34)
  crates/application/src/error.rs
  crates/application/src/orchestration/dependency_graph.rs
  crates/application/src/orchestration/mod.rs
Due: none

Path conditions:
  docker-compose-validate: any of: docker-compose\.yml$
  markdown-link-check: any of: \.(md|markdown|mdown)$
